<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="icon" href="/img/weather-icon2.png">
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/script.js"></script>
    </head>
    <body>
        {{>header}}
        <div class="main-content">
            <p>
                <h2>{{errormsg}}</h2>
            </p>
        </div>
        {{>footer}}
    </body>
</html>