<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather-icon2.png">
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/script.js"></script>
    </head>
    <body>
        {{>header}}
        <div class="main-content">
            <div class="about-container">
                <img src="/img/profile.png">
                <div id="user-name">{{name}}</div>
            </div>
        </div>
        {{>footer}}
    </body>
</html>