<footer>
    <div class="auther">
        Created by - Sushilkumar Takkekar
    </div>
    <div class="social-media">
        <img src="https://image.flaticon.com/icons/svg/174/174848.svg">
        <img src="https://image.flaticon.com/icons/svg/174/174876.svg">
        <img src="https://image.flaticon.com/icons/svg/174/174857.svg">
    </div>
</footer>